<div class="dashboard-widget-container"
     [dragula]="'bag-one'"
     [dragulaModel]="widgets"
     [dragulaOptions]="dragulaOptions">

    <clr-alert
        *ngIf="!widgets"
        [clrAlertClosable]="false"
        [clrAlertType]="'alert-danger'">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                No dashboard preset configuration
            </span>
        </div>
    </clr-alert>

    <div *ngFor="let widget of widgets"
         class="dashboard-widget"
         [style.height]="widget.config.container.height + 'px'"
         [style.width]="widget.config.container.width + '%'">

        <div class="layout-mode-curtain" *ngIf="layoutMode">
            <div class="layout-mode-buttons">
                <clr-icon
                    id="widget-rearrange-handle" shape="target" size="36">
                </clr-icon>
            </div>
            <dashboard-container-resize-form
                [width]="widget.config.container.width"
                [height]="widget.config.container.height"
                (dimensionsChange)="resizeContainer($event, widget)">
            </dashboard-container-resize-form>
        </div>

        <wm-dynamic-widget
            [type]="widget.type"
            [config]="widget.config">
        </wm-dynamic-widget>
    </div>
</div>
