<div class="main-container">

    <!-- <div class="alert alert-app-level"></div> -->

    <header class="header header-6">
        <div class="branding">
            <a href="/" class="nav-link">
                <clr-icon shape="line-chart" class="is-solid"></clr-icon>
                <span class="title">webmonitor</span>
            </a>
        </div>
        <div class="header-nav">
            <div class="header-actions">
                <clr-dropdown>
                    <button class="nav-text" clrDropdownTrigger>
                        Presets
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu *clrIfOpen>
                        <a *ngFor="let p of presetRoutes"
                           [locationLink]="p.path"
                           clrDropdownItem>
                            {{p.title}}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a [locationLink]="'/--sandbox'"
                           clrDropdownItem>
                            SANDBOX
                        </a>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
        </div>

        <div class="header-actions">

            <a class="nav-link nav-icon" (click)="play()">
                <clr-icon shape="play" class="is-solid"></clr-icon>
            </a>

            <a class="nav-link nav-icon" (click)="stop()">
                <clr-icon shape="stop" class="is-solid"></clr-icon>
            </a>

            <a class="nav-link nav-icon"
               (click)="dashboard.layoutMode = !dashboard.layoutMode">
                <clr-icon
                    shape="grid-view"
                    [class.is-solid]="dashboard.layoutMode">
                </clr-icon>
            </a>

            <a class="nav-link nav-icon"
               (click)="settings.open()">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>



    </header>

    <div class="content-container">
        <div class="content-area">
            <app-home *ngIf="hideDashboard"></app-home>
            <app-dashboard
                #dashboard
                [hidden]="hideDashboard"
                [config]="presetConfig">
            </app-dashboard>
            <app-settings-modal
                #settings
                [dashboard]="dashboard">
            </app-settings-modal>
        </div>
    </div>
</div>
