<wm-widget [config]="config.wrapper"
           [info]="info"
           (refresh)="onRefreshEvent()"
           (start)="onStartEvent()"
           (timer)="updateLive()"
           #widgetWrapper>

    <div class="widget-options">
        <form clrForm>
            <label>Annotations</label>
            <clr-checkbox
                *ngIf="config.widget.fieldChangeSeparators"
                name="separatorsCheckbox"
                [(ngModel)]="config.widget.fieldChangeSeparators.enabled"
                (ngModelChange)="updateFieldSeparators(true)">
                Enable annotations
            </clr-checkbox>
        </form>
    </div>

    <div class="widget-queries">
        <wm-date-range-form (query)="queryRange($event)"></wm-date-range-form>
        <wm-fill-run-ls-form
            *ngIf="config.widget.fillQueriesEnabled"
            [fillEnabled]="true" [runEnabled]="false" [lsEnabled]="false"
            (query)="queryFillRun($event)">
        </wm-fill-run-ls-form>
        <wm-fill-run-ls-form
            *ngIf="config.widget.runQueriesEnabled"
            [fillEnabled]="false" [runEnabled]="true" [lsEnabled]="false"
            (query)="queryFillRun($event)">
        </wm-fill-run-ls-form>
    </div>

    <div class="widget-content">
        <div #plot style="height: 55%; width: 100%;"></div>
        <div class="h6 content-separator">Ratios</div>
        <div #ratioPlot style="flex: 1 1 auto; width: 100%"></div>
    </div>

</wm-widget>
